<header class="mb-4">
  <div class="identity-bar">
    <div class="container">
      <a class="su-brand-bar__logo" href="https://www.stanford.edu">Stanford University</a>
    </div>
  </div>
  <nav class="navbar navbar-expand-md bg-dark cardinal">
    <div class="container">
      <a class="mb-0 navbar-brand navbar-logo" href="https://library.stanford.edu">Stanford University Libraries</a>
      <button
        class="navbar-toggler navbar-toggler-right collapsed"
        type="button"
        data-toggle="collapse"
        data-bs-toggle="collapse"
        data-target="#user-util-collapse"
        data-bs-target="#user-util-collapse"
        aria-controls="user-util-collapse"
        aria-expanded="false"
        aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <nav
        class="collapse navbar-collapse align-items-start justify-content-md-end navbar-expand-md d-md-flex flex-column flex-md-row"
        aria-label="browse"
        id="user-util-collapse">
        <ul class="navbar-nav justify-content-md-end gap-0 gap-md-4 w-100">
          <li class="nav-item dropdown">
            <button
              class="nav-link logout-dropdown dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false">
              Logged in: <%= current_user_sunetid %>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to 'Logout', '/Shibboleth.sso/Logout', class: 'dropdown-item' %></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </nav>
  <div class="masthead bg-dark cardinal">
    <div class="container">
      <div class="d-flex flex-wrap align-items-end pt-3 pb-1 pb-md-3 gap-2">
        <div class="d-flex align-items-end gap-2 flex-grow-1">
          <span class="rosette-logo me-1 align-self-start flex-shrink-0" aria-hidden></span>
          <div class="me-1 flex-grow-1">
            <h1 class="my-0"><%= title %></h1>
            <span class="h4 d-block my-1"><%= subtitle %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
