<table class="table">
  <tbody>
    <%= render SdrViewComponents::Tables::RowComponent.new(
      label: 'Embargo',
      value: 'Ends 2027-01-15',
      tooltip: 'Date when the item becomes visible to the public.'
    ) %>
  </tbody>
</table>

<script>
  window.addEventListener('load', () => {
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    ;[...tooltipTriggerList].forEach((tooltipTriggerEl) => {
      window.bootstrap.Tooltip.getOrCreateInstance(tooltipTriggerEl)
    })
  })
</script>
