<table class="table">
  <tbody>
    <%= render SdrViewComponents::Tables::RowComponent.new(
          first_value: 'File set',
          values: %w[Preserved Published]
        ) %>
  </tbody>
</table>
