<%= tag.div role:, class: classes, data:, id: do %>
  <% if icon? %>
    <div class="fs-3 me-3 align-self-center d-flex justify-content-center"><%= icon %></div>
  <% end %>
  <div class="text-body">
    <% if title.present? %>
        <div class="fw-semibold"><%= title %></div>
    <% end %>
    <%= content %>
  </div>
  <% if dismissible? %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  <% end %>
<% end %>
