<% content_for(:title, page_title_from_breadcrumbs) # set the page's html title from the breadcrumb nav %>
<div class="breadcrumbs mb-5">
  <nav id="breadcrumbs" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <% breadcrumbs.each do |breadcrumb| %>
        <%= breadcrumb %>
      <% end %>
    </ol>
  </nav>
</div>
