<%= render SdrViewComponents::Elements::ButtonLinkComponent.new(classes:, variant: :'outline-primary', link:, **options) do %>
  <%= button_icon %><span class="visually-hidden"><%= label %></span>
<% end %>
