<%= render SdrViewComponents::Elements::ButtonLinkComponent.new(classes:, variant: :'outline-primary', data:, link:) do %>
  <%= button_icon %><span class="visually-hidden"><%= label %></span>
<% end %>
