<%= tag.div class: classes, tabindex: '-1', id: do %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <div class="position-absolute top-0 end-0">
            <button type="button" class="btn-close mt-2 me-2" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        <% if header? %>
          <%= header %>
        <% end %>
      </div>
      <div class="modal-body">
        <%= body %>
      </div>
      <% if footer? %>
        <div class="modal-footer">
          <%= footer %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
