<li class="nav-item" role="presentation">
  <%= tag.button class: button_classes, id:, data: { bs_toggle: 'tab', bs_target: "##{pane_id}" }, type: 'button', role: 'tab', 'aria-controls': 'details-pane', 'aria-selected': active? do %><%= label %><% end %>
</li>
