<% model = SdrViewComponents::Forms::SelectFieldComponentPreview::SelectFieldPreviewModel.new(resource_type: 'image') %>

<%= form_with(model: model, url: '/example') do |form| %>
  <%= render SdrViewComponents::Forms::SelectFieldComponent.new(
        form: form,
        field_name: :resource_type,
        options: [
          %w[Book book],
          %w[Image image],
          %w[Map map]
        ]
      ) do |component| %>
    <% component.with_additional_container_content do %>
      <div class="alert alert-info mt-2" role="alert">
        Preferred for still images, scans, and photographs.
      </div>
    <% end %>
  <% end %>
<% end %>
