/* Header */
.masthead {
  color: white;
}

.masthead h1,
.masthead .h1 {
  font-size: 2.25rem;
}

/* Toggle */
.btn-group-toggle label.btn {
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgb(var(--bs-btn-focus-shadow-rgb), .5);
}

.btn-group-toggle input:checked + label {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: #fff;
}

.btn-group-toggle input:not(:checked) + label {
  background-color: transparent;
  border-color: var(--bs-primary);
  color: var(--bs-primary);
}

.btn-group-toggle .btn-check:checked + .btn {
  background-color: var(--stanford-digital-blue);
  border-color: var(--stanford-digital-blue);
  color: #fff;
}

.btn-group-toggle :not(.btn-check:checked) + .btn {
  color: var(--stanford-digital-blue);
  border-color: var(--stanford-digital-blue);
}

.btn-group-toggle input:checked + label::before {
  display: inline-block;
  margin-right: 3px;
  font-family: bootstrap-icons;
  vertical-align: -15%;
  content: "\F633";
}

/* Banner */
.banner.alert a.btn-primary {
  color: white;
}

/* Forms */
.form-control,
.form-select,
.form-check-input {
  border-color: var(--stanford-60-black);
}

/* Tabs */
.nav-underline {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.nav-underline .nav-link {
  width: 10.5rem;
}

.nav-underline .nav-link:not(.active) {
  color: rgb(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
}

.nav-underline .nav-link.active {
  border-bottom: 3px solid #B1040E;
  color: #B1040E;
  font-weight: bold;
}

/* Tables */
table.table-h3 caption {
  padding: .25rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--stanford-black);
  caption-side: top;
  border-bottom: 1px solid var(--stanford-black);
}

table.table-h3 th {
  font-size: 1.0rem;
  font-weight: 600;
  color: var(--stanford-black);
}

table.table-h3 tr {
  border-color: var(--stanford-30-black);
}

/* Item lists */
table.table-h3 .list-unstyled {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

table.table-data th {
  width: fit-content;
  white-space: nowrap;
}

/* Radio buttons */

/* Inputs / labels are rendered in the opposite order than BS styles expect. */
.form-check-label:has(+ .form-check-input:disabled), .form-check-label:has(+ .form-check-input[disabled]) {
	cursor: default;
	opacity: .5;
}
